@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222222;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    background: white;
    border-radius: 10px;
    width: 620px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: -10;
    border-bottom-right-radius: -10;
    border: 10px solid black;
}

.wrapper .form input {
    background: #222222;
    color: white;
    font-size: 15px;
    width: 450px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-top: 40px;
}

.wrapper .form textarea {
    background: #222222;
    color: white;
    font-size: 15px;
    width: 450px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
}

.wrapper .form .btn {
    background: #222222;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    transition: 0.3s all ease;
}

.wrapper .form .btn:hover {
    box-shadow: 0 5px 50px 0 cyan inset, 0 5px 50px 0 cyan,
        0 5px 50px 0 cyan inset, 0 5px 50px 0 #15f4ee;
    transform: scale(1.3);
}

.Content1 {
    text-align: center;
    background: grey;
    color: white;
    padding: 10px;
    width: 620px;
    border-radius: 10px;
    border-top-left-radius: 10;
    border-bottom-right-radius: 10;
    border: 10px solid black;
}

.Content1 h3 {
    padding-bottom: 5px;
}

.Content1 p,
h3 {
    text-align: left;
    padding-left: 4px, 2px, 4px, 2px;

}

.Content1 .form1 .buttondel {
    color: #5e5e5e;
    font-family: sans-serif;
    font-weight: 400;
    border: 5px solid grey;
    background-color: grey;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    width: 80px;
    transition: 1.5s;
}

.Content1 .form1 .buttondel:hover {
    color: #222222;
    box-shadow: 0 5px 50px 0 cyan inset, 0 5px 50px 0 cyan,
        0 5px 50px 0 cyan inset, 0 5px 50px 0 #15f4ee;
    transform: scale(1.5);
}